<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MiniProject Suite" verbose="2">

    <test name="Trip-Cost-Booking" preserve-order="true">
        <classes>
            <class name="Test.TC_001_HomePopupHandling"/>
            <class name="Test.TC_002_LocationInput"/>
            <class name="Test.TC_003_DateSelection"/>
            <class name="Test.TC_004_OccupancyAdjustment"/>
            <class name="Test.TC_005_SearchAndNavigate"/>
            <class name="Test.TC_006_GetAllHotels"/>
            <class name="Test.TC_007_SortByReview"/>
            <class name="Test.TC_008_ElevatorFilter"/>
            <class name="Test.TC_009_AddBedsAnd5starHotels"/>
            <class name="Test.TC_010_FinalHotelList"/>
            <class name="Test.TC_011_GridView"/>
            <class name="Test.TC_012SecondURLOpen"/>
            <class name="Test.TC_013ClosePopUpCruise"/>
            <class name="Test.TC_014ValidateCruiseLine"/>
            <class name="Test.TC_15_SailingMonthValidation"/>
            <class name="Test.TC_16_CruisePageValidation"/>
            <class name="Test.TC_17_SuiteValidation"/>
            <class name="Test.TC_018_PrintListOfRooms"/>
            <class name="Test.TC_019_ValidateOnboarding"/>
            <class name="Test.TC_020_PrintStateList"/>
            <class name="Test.TC_21_ValidatePriceOrCurr_Token"/>
        </classes>
    </test>

</suite>