<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MiniProject Suite" verbose="2">

    <test name="End to End Regression" preserve-order="true">
        <classes>
            <class name="Test.TC_001_HomePopupHandling"/>
            <class name="Test.TC_002_LocationInput"/>
            <class name="Test.TC_003_DateSelection"/>
        </classes>
    </test>

</suite>